<ion-header no-border>
  <ion-toolbar>
    <ion-title>Slides Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide class="slide">
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide class="slide slide-green">
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide class="slide slide-blue">
      <h1>Slide 3</h1>
    </ion-slide>
    <ion-slide>
      <ion-button expand="full" fill="clear" color="betapp" (click)="onClick()">
        Go back!
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
