<app-header title="card"></app-header>
<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card color="primary" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="medium">
      <ion-icon slot="end" name="pin" color="tertiary"></ion-icon>
      <ion-label color="light">Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-img src="assets/logo.png"></ion-img>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aperiam minima accusantium facilis distinctio laborum nisi, sunt reprehenderit cum corporis nobis impedit, sit voluptates repellendus excepturi saepe, aut nulla! Dignissimos.
    </ion-card-content>
  </ion-card>
</ion-content>
