<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar Page</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/logo.png" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-avatar>
      <img src="/assets/logo.png" />
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/logo.png" />
      </ion-avatar>
      <ion-label>Aula Social</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
