<app-header title="grid"></app-header>
<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0]; let i = index">
        Hola item: {{i + 1}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0]; let i = index"
        size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-img src="/assets/logo.png"></ion-img>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem, quo nisi odio eveniet dicta aliquam veniam aperiam perferendis, impedit, eos earum facilis fugiat minima? Cupiditate amet quisquam numquam voluptatum.
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
