<app-header title="fab"></app-header>
<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="betapp"><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="success">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button color="betapp"><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of data; let idx = index">
      <ion-label>Item {{idx + 1}} of {{data.length}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="betapp">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>