ion-segment-button {
    background-color: var(--ion-color-dark) !important;
    color: var(--ion-color-light) !important;
    border: none;
}

ion-segment-button.segment-button-checked {
    color: var(--ion-color-tertiary) !important;
}

ion-infinite-scroll-content {
  text-align: left;
}
