<ion-header no-border>
  <ion-toolbar >
    <ion-title>
      History
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="sendEmail()">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item detail *ngFor="let record of localDataService.history" (click)="localDataService.openRecord(record)">
      <ion-icon slot="start" [name]="record.icon" color="primary"></ion-icon>
      <ion-label>
        <h2>{{record.text}}</h2>
        <p>Created on {{record.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
