<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Recent Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-backdrop [movies]="recentMovies"></app-slideshow-backdrop>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>On Theaters</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-poster [movies]="recentMovies"></app-slideshow-poster>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Popular</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-pair [movies]="popularMovies" (loadMore)="loadMore()"></app-slideshow-pair>
</ion-content>
